# LiveKit API Configuration
NEXT_PUBLIC_LIVEKIT_URL=wss://sorat-euw6t504.livekit.cloud
LIVEKIT_API_KEY=APIEW3nFwZZZpFY
LIVEKIT_API_SECRET=Q3jYxwcjwF8wHmShapeaGOeShWBNe3j3runsofQEeKKB

# Public configuration

# Application Configuration
NEXT_PUBLIC_APP_CONFIG="
title: 'OnboardAI'
description: ''
github_link: 'https://github.com/sakomaws/tenants'
theme_color: 'cyan'
video_fit: 'cover' # 'contain' or 'cover'
outputs:
  audio: true # Enable or disable audio output
  video: true # Enable or disable video output
  chat: true  # Enable or disable chat feature
inputs:
  mic: true    # Enable or disable microphone input
  camera: true # Enable or disable camera input
  sip: true    # Enable or disable SIP input
"


